@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f2235;
}
.hello-title-home {
  color: #ff4a57;
}
.button-home {
  background-color: #ff4a57;
}
.button-home:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.about-line {
  border-color: #ff4a57;
}
.about-card {
  border-color: #ff4a57;
}
